body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(241, 213, 152);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.app  {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(245, 197, 93);
  margin-top: 50px;
}

form > div {
  width: 100%;
}

form > div > label {
  padding-top: 10px;
  margin-left: 5%;
}

form > div > input {
  height: 30px;
  width: 88%;
  margin-left: 5%;
  margin-top: 3px;
}

form > div > span {
  color: red;
}

form > div > p, form > p {
  color: red;
  margin: 0;
  font-size: small;
  display: flex;
}

form > div > p {
  margin-left: 5%;
}

form > button {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  width: 20%;
  min-width: 70px;
  background-color: #aeafad;
  cursor: pointer;
}

  /* Media queries for the responsiveness of the page */
  /* @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  } */